@model RobotGA_Project.Models.RobotModel
@{
    ViewBag.Title = "Robot";
}
<div class="jumbotron">
    <h1>RB - @Model.Id</h1>
    <dl class="dl-vertical">
        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <p>
            @Html.DisplayFor(model => model.Cost)
        </p>
        <dt>
            @Html.DisplayNameFor(model => model.Fitness)
        </dt>
        <p>
            @Html.DisplayFor(model => model.Fitness)
        </p>
        <dt>
            @Html.DisplayNameFor(model => model.ReproductionProbability)
        </dt>
        <p>
            @Html.DisplayFor(model => model.ReproductionProbability)
        </p>
    </dl>
    <div>
        <a href="javascript:history.go(-1)">Back</a>
    </div>
</div>
<hr />
<div class="row">
    @if(Model.ParentA != null)
    {
        <h3>Parents</h3>
        <hr />
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fitness)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReproductionProbability)
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>
                    RB-@Html.DisplayFor(model => model.ParentA.Id)
                </th>
                <th>
                    @Html.DisplayFor(model => model.ParentA.Cost)
                </th>
                <th>
                    @Html.DisplayFor(model => model.ParentA.Fitness)
                </th>
                <th>
                    @Html.DisplayFor(model => model.ParentA.ReproductionProbability)
                </th>
                <th>
                    @Html.ActionLink(
                        "Details",
                        "Index",
                        "Robot",
                        new {pRobotId = Model.ParentA.Id, pGenerationId = Model.ParentA.GenerationId},
                        new {@class = "btn btn-primary btn-lg"})
                </th>
            </tr>
            <tr>
                <th>
                    RB-@Html.DisplayFor(model => model.ParentB.Id)
                </th>
                <th>
                    @Html.DisplayFor(model => model.ParentB.Cost)
                </th>
                <th>
                    @Html.DisplayFor(model => model.ParentB.Fitness)
                </th>
                <th>
                    @Html.DisplayFor(model => model.ParentB.ReproductionProbability)
                </th>
                <th>
                    @Html.ActionLink(
                        "Details",
                        "Index",
                        "Robot",
                        new {pRobotId = Model.ParentB.Id, pGenerationId = Model.ParentB.GenerationId},
                        new {@class = "btn btn-primary btn-lg"})
                </th>
            </tr>
            </tbody>
        </table>
        <hr/>
    }
</div>
<hr />