@using System.Web.Mvc.Html
@using RobotGA_Project.GASolution
@using RobotGA_Project.Models
@model IEnumerable<RobotGA_Project.Models.GenerationModel>
@{
    ViewBag.Title = "Generations";
    Layout = "~/Views/Shared/_Layout_WithGenerationOption.cshtml";
    //List<GenerationModel> generationModels = ViewData["Models"] as List<GenerationModel>;
}
<head runat="server">
    <title></title>
    
    <style type="text/css">
        .typeGround
        {
        padding: 6px;
        text-align: center;
        border: 1px solid lightgray;
        }
    </style>
    <style type="text/css">
    
        .wentThroughGround
        {
        padding: 6px;
        text-align: center;
        border: 1px solid lightgray;        
        }
    </style>
    <style type="text/css">
        .goalGround
        {
        padding: 6px;
        text-align: center;
        border: 1px solid lightgray;
        background-color: #c0a16b;
        }
    </style>
    <style type="text/css">
        .startPointGround
        {
        padding: 6px;
        text-align: center;
        border: 1px solid lightgray;
        background-color: #3c3c3c;
        }
    </style>    
</head>
<div class="jumbotron">

    <h1>Result</h1>
    <div class="row">
        <div class="col-md-4">
         <h3>Map</h3>
         <table class="style1">
             @for (int row = 0; row < Constants.MapDimensions; row++)
             {
                 <tr class="normalGround">
                     @for (int column = 0; column < Constants.MapDimensions; column++)
                     {
                         var coord = (row,column);
                         if (coord.Item1 == Constants.StartIndex.Item1 && coord.Item2 == Constants.StartIndex.Item2)
                         {
                             <th class="startPointGround"></th>
                         }
                         else if (coord.Item1 == Constants.GoalIndex.Item1 && coord.Item2 == Constants.GoalIndex.Item2)
                         {
                             <th class="goalGround"></th>
                         }
                         else
                         {
 
                             (int, int, int) rgb;
                             var terrainInCoord = EvolutionEnvironment.Map.TerrainMap[coord.Item1, coord.Item2];
                             if (terrainInCoord == Constants.EasyTerrain)
                             {
                                 rgb = (153,255,153);
                             }
                             else if (terrainInCoord == Constants.MediumTerrain)
                             {
                                 rgb = (51,255,51);
                             }
                             else if (terrainInCoord == Constants.DifficultTerrain)
                             {
                                 rgb = (0,204,76);
                             }
                             else
                             {
                                 rgb = (0,0,0);
 
                             }
                             <th class="typeGround" style="background-color: rgb(@rgb.Item1,@rgb.Item2,@rgb.Item3)"></th>
                         }
                     }
                 </tr>
             }
         </table>           
        </div>
        <div class="col-md-4">
        <h3>Best Generation: Gen-@EvolutionEnvironment.BestGeneration.Id</h3>
        <table class="style1">
            @for (int row = 0; row < Constants.MapDimensions; row++)
            {
                <tr class="normalGround">
                    @for (int column = 0; column < Constants.MapDimensions; column++)
                    {
                        var coord = (row,column);
                        if (coord.Item1 == Constants.StartIndex.Item1 && coord.Item2 == Constants.StartIndex.Item2)
                        {
                            <th class="startPointGround"></th>
                        }
                        else if (coord.Item1 == Constants.GoalIndex.Item1 && coord.Item2 == Constants.GoalIndex.Item2)
                        {
                            <th class="goalGround"></th>
                        }
                        else if (EvolutionEnvironment.BestGeneration.Population.Any(robot => robot.BestTry.Contains(coord)))
                        {
                            var appearances = 0;
                            foreach (var robot in EvolutionEnvironment.BestGeneration.Population)
                            {
                                appearances += MathematicalOperations.CountAppearances(robot.BestTry, coord);
                            }
                            var r = Constants.GENERATIONAL_HEAT_INITIAL_COLOR.Item1 - Constants.GENERATIONAL_R_DECREMENT_RATIO * (appearances - 1);
                            if (r < 0)
                            {
                                r = 0;
                            }
                            var g = Constants.GENERATIONAL_HEAT_INITIAL_COLOR.Item2 - Constants.GENERATIONAL_G_DECREMENT_RATIO * (appearances - 1);
                            if (g < 0)
                            {
                                g = 0;
                            }
                            var b = Constants.GENERATIONAL_HEAT_INITIAL_COLOR.Item3 - Constants.GENERATIONAL_B_DECREMENT_RATIO * (appearances - 1);
                            if (b < 0)
                            {
                                b = 0;
                            }
                            <th class="wentThroughGround" style="background-color: rgb(@r,@g,@b)"></th>
                        }
                        else
                        {

                            (int, int, int) rgb;
                            var terrainInCoord = EvolutionEnvironment.Map.TerrainMap[coord.Item1, coord.Item2];
                            if (terrainInCoord == Constants.EasyTerrain)
                            {
                                rgb = (153,255,153);
                            }
                            else if (terrainInCoord == Constants.MediumTerrain)
                            {
                                rgb = (51,255,51);
                            }
                            else if (terrainInCoord == Constants.DifficultTerrain)
                            {
                                rgb = (0,204,76);
                            }
                            else
                            {
                                rgb = (0,0,0);

                            }
                            <th class="typeGround" style="background-color: rgb(@rgb.Item1,@rgb.Item2,@rgb.Item3)"></th>
                        }
                    }
                </tr>
            }
        </table>       
        <div>
             @Html.ActionLink(
             "See",
             "Index",
             "Generation",
             new {pGenerationId = EvolutionEnvironment.BestGeneration.Id},
             new {@class = "btn btn-primary"})               
        </div>

        </div>
        <div class="col-md-4">
         <h3>Best Run: RB-@EvolutionEnvironment.BestRun.GenerationId-@EvolutionEnvironment.BestRun.Id</h3>
         <table class="style1">
             @for (int row = 0; row < Constants.MapDimensions; row++)
             {
                 <tr class="normalGround">
                     @for (int column = 0; column < Constants.MapDimensions; column++)
                     {
                         var coord = (row,column);
                         if (coord.Item1 == Constants.StartIndex.Item1 && coord.Item2 == Constants.StartIndex.Item2)
                         {
                             <th class="startPointGround"></th>
                         }
                         else if (coord.Item1 == Constants.GoalIndex.Item1 && coord.Item2 == Constants.GoalIndex.Item2)
                         {
                             <th class="goalGround"></th>
                         }
                         else if (EvolutionEnvironment.BestRun.BestTry.Contains(coord))
                         {
                             var appearances = MathematicalOperations.CountAppearances(EvolutionEnvironment.BestRun.BestTry, coord);
                             var r = Constants.HEAT_INITIAL_COLOR.Item1 - Constants.R_DECREMENT_RATIO * (appearances - 1);
                             if (r < 0)
                             {
                                 r = 0;
                             }
                             var g = Constants.HEAT_INITIAL_COLOR.Item2 - Constants.G_DECREMENT_RATIO * (appearances - 1);
                             if (g < 0)
                             {
                                 g = 0;
                             }
                             var b = Constants.HEAT_INITIAL_COLOR.Item3 - Constants.B_DECREMENT_RATIO * (appearances - 1);
                             if (b < 0)
                             {
                                 b = 0;
                             }
                             <th class="wentThroughGround" style="background-color: rgb(@r,@g,@b)"></th>
                         }
                         else
                         {
 
                             (int, int, int) rgb;
                             var terrainInCoord = EvolutionEnvironment.Map.TerrainMap[coord.Item1, coord.Item2];
                             if (terrainInCoord == Constants.EasyTerrain)
                             {
                                 rgb = (153,255,153);
                             }
                             else if (terrainInCoord == Constants.MediumTerrain)
                             {
                                 rgb = (51,255,51);
                             }
                             else if (terrainInCoord == Constants.DifficultTerrain)
                             {
                                 rgb = (0,204,76);
                             }
                             else
                             {
                                 rgb = (0,0,0);
 
                             }
                             <th class="typeGround" style="background-color: rgb(@rgb.Item1,@rgb.Item2,@rgb.Item3)"></th>
                         }
                     }
                 </tr>
             }
         </table> 
        <div>
            @Html.ActionLink(
            "See",
            "Index",
            "Robot",
            new {pRobotId = EvolutionEnvironment.BestRun.Id, pGenerationId = EvolutionEnvironment.BestRun.GenerationId},
            new {@class = "btn btn-primary"})           
        </div>

        </div>
    </div>
</div>

<div class="row">
    <h3>Resulting generations</h3>
    <hr/>
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FitnessAverage)
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var generation in @Model)
            {
                <tr>
                    <th>
                        Gen-@Html.DisplayFor(model => generation.Id)
                    </th>
                    <th>
                        @Html.DisplayFor(model => generation.FitnessAverage)
                    </th>
                    <th>
                        @Html.ActionLink(
                            "Details",
                            "Index",
                            "Generation",
                            new {pGenerationId = generation.Id},
                            new {@class = "btn btn-primary btn-lg"})
                    </th>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <hr/>
</div>